@font-face {
    font-family: 'NarrowBold';
    src: url('InputMonoNarrow-Regular.ttf');
}
@font-face {
    font-family: 'Quebec';
    src: url('Quebec-Bold.otf');
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.fenetre{
  position: absolute;
  opacity: 0.8;
  cursor: pointer;
}

.titre{
  pointer-events: none;
  font-family: 'Quebec';
  font-size: 16pt;
}
.texte{
  pointer-events: none;
  font-family: 'NarrowBold';
  font-size: 13pt;
}
