{% extends "base.html" %}

{% block page %}

<main class="container">
    <!-- <button id="playButton">Lancer la musique</button> -->
    <!-- <a href="guide/"> -->
        <article class="index">

            <div class="scribe">
                <!-- <div class="shadow">
                    <img src="{{ scribe }}" alt="{{ scribe }}">
                </div> -->
                <!-- <img src="{{ scribe }}" alt="{{ scribe }}"> -->
                <img id="sonClick" src="assets/image/enterSCRIBE.webp" alt="" style="cursor: pointer;">

            </div>

            <div class="text">
                {{ content | safe }}
            </div>
                 
            <img src="{{ cover }}" alt="{{ cover }}">   
               
             
            
        </article>
    <!-- </a> -->
</main>

{% endblock page %}