{% extends "base.html" %}




{% block content %}

<div class="angle">
    {% include "partials/angle.html" %}
</div>

<div class="angle right rotate">
    {% include "partials/angle.html" %}
</div>

<main class="container">

    <section class="content">
    {% for article in collections.type %}

        {% if article.data.type == "card" %}
        <article class="card">
            <h1><a href="{{ article.url }}">{{ article.data.title }}</a></h1>
            {{ article.content | safe }}
        </article>
        {% endif %}

    {% endfor %}
    </section>

</main>

<div class="angle bottom rotate-reverse">
    {% include "partials/angle.html" %}
</div>

<div class="angle right bottom rotate-full">
    {% include "partials/angle.html" %}
</div>

{% endblock content %}