@font-face {
    font-family: "DuctusRegular";
    src:
            local("DuctusRegular"),
            url("font/DuctusRegular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}