
.container {
    width: 100%;
    height: 100%;
    font-family: 'DuctusRegular', sans-serif;
}

.container .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 6% 12% 3% 12%;
}

.container .content .header {
    
}

.container .content .card {
    width: calc(100%/4 - 30px);
    /*flex: 1 0 34%;*/
    /*z-index:1;*/
    /*height: calc(100%/4 - 30px);*/
    background-color: rgb(240, 255, 240);
    border: 2px rgb(135, 135, 135) solid;
    padding: 0.5% 0.8% 0.5% 0.8%;
    margin: 0% 1% 1% 0;
    position: relative;
    /*background-image: image("CadreSVG2.svg#xywh=0,20,40,60");*/

}

.container .content .card:hover .cadre {
    display: block;
}

.container .content .card .cadre {
    position: absolute;
    width: 50%;
    display: none;
}



/*.container .content .card .cadre img {*/
/*    width: 100%;*/
/*}*/

.container .content .card img {
    /*position: absolute;*/
    /*z-index: -999;*/
    display: block;
    width: 100%;
    height: auto;
}

.container .content .card h1 {
    position: absolute;
    /*text-align: right;*/
    right: 10px;
    bottom: 5px;
}

.container .content .card a {
    text-decoration: none;
    color: black;
}


.container .content .card:last-child {
    margin: 0;
}

.container .content .card:nth-child(n + 3) {

}

.angle {
    position: fixed;
}

.rotate {
    transform: rotate(90deg);
}

.rotate-reverse {
    transform: rotate(-90deg);
}

.rotate-full {
    transform: rotate(180deg);
}

.right {
    right: 0;
}

.bottom {
    bottom: 0;
}

@media only screen and (min-width: 1px) and (max-width: 900px) {

    .container .content{
        flex-direction: column;
        padding: 6% 6% 3% 6%;
    }

    .container .content .card {
        width: 100%;
        padding: 0.5% 0.8% 0.5% 0.8%;
        margin: 0% 2% 2% 0;
    }

}