/* général */

body {
    background-color: #272324;
    font-family: 'DuctusRegular', sans-serif;
    font-size: 14px;
    color: #FBF6D8;
}

a {
    color: #FBF6D8;
}

/* global */

.container {
    width: 100%;
    height: 100%;
}

.container .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

/* header */

.header {
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.header .face {
    margin: 15px 0 0 0;
}

.header .rotate {
    transform: rotate(90deg);
}

/* home */

.container .index .text {
    position: absolute;
    margin: 150px 0 0 160px;
    width: 100%;
    z-index: 1;
}

.container .index img {
    position: relative;
    display:block;
    z-index: 0;
   
}

.container .index #grad {
    /* position: absolute; */
    /* display: block; */
    height: 1000px;
    background-image: linear-gradient(to bottom, rgba(255, 100, 100, 0.879), rgb(255, 15, 15));
    z-index: 10;
}

.container .index .scribe img {
    position: absolute;
    /* display:block; */
    z-index: 2;
    animation: infinite running alternate ease-in-out 3s slidein;
}

@keyframes slidein {
    from { margin: 0px 0px 0% 0%; transform: scale(0.98); }
    to   { margin: 30px 0px 0% 0%;transform: scale(1); }
    /* to   { margin: 0px 0px 0% 0%; } */
}

    /* cards */

.container .content .cards-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 180px 0 0 180px;
}

.container .content .cards-list .card-item {
    width: calc(75%/4 - 20px);
    background-color: #fbf6d822;
    border: 2px #ffca606e solid;
    padding: 0.5% 0.8% 0.5% 0.8%;
    margin: 0% 1% 1% 0;
    position: relative;
}

.container .content .cards-list .card-item:hover .cadre {
    display: block;
}

.container .content .cards-list .card-item:hover {
    background-color: #FBF6D8;
    border: 2px #ffca60 solid;   
}

.container .content .cards-list .card-item .cadre {
    position: absolute;
    width: 75%;
    display: none;
    left: -16%;
    bottom: 32%;
}

.container .content .cards-list .card-item img {
    display: block;
    width: 100%;
    height: auto;
}

.container .content .cards-list .card-item h1 {
    position: absolute;
    right: 14px;
    bottom: 7px;
}

.container .content .cards-list .card-item a {
    text-decoration: none;
    color: #FBF6D8;
}

.container .content .cards-list .card-item:hover a {
    text-decoration: none;
    color: black;
}

/* card detail */

.container .content .card-detail {
    display: flex;
    flex-direction: row;
    margin: 150px 0 0 150px;
}

.container .content .card-detail .left {
    width: 50%;
    padding: 20px 20px 0 0;
}

.container .content .card-detail .right {
    padding: 0 0 0 50px;
}

.container .content .card-detail .right .card-header {
    position: relative;
    background-color: white;
    border: 2px rgb(236, 179, 80) solid;
    width: 300px;
}

.container .content .card-detail .right .card-header .image img {
    padding: 20px;
}

.container .content .card-detail .right .card-header .deco {
    position: absolute;
    width: 200px;
    transform: translate(-50px, -50px);
}

@media only screen and (min-width: 1px) and (max-width: 900px) {

    /* header */

    .header {
        position: unset;
        align-items: center;
        justify-content: center;
    }

    .header .angle {
        display: none;
    }

    /* global */
    .container .content {
        flex-direction: column;
    }

    /* index */
    .container .index .text {
        margin: 20px 0 0 20px;
        width: 80%;
    }

    .container .index img {
        display: none;
    }

}